@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-4">
    <h1 class="mb-4">@ViewData["Title"]</h1>
    <div class="list-group">
        <a asp-controller="Categories" class="list-group-item list-group-item-action">
            Categories
        </a>
        <a asp-controller="StackOverflow" class="list-group-item list-group-item-action">
            StackOverflow
        </a>
    </div>
</div>
